@charset "UTF-8";

/* ==========================================================================
   #Markdown
   ========================================================================== */

*{margin:0;padding:0;border:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:grayscale}
html{overflow-x:hidden;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::selection{background-color:rgba(255,183,77,0.7);color:#414141}
button,input,select,textarea{resize:none;font-family: Exo,'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif}
body{font-family: Exo,'-apple-system','Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue','Hiragino Sans GB','Microsoft YaHei',Helvetica,Arial,sans-serif;font-size:14px;line-height:1.6;color:#333;background-color:#eee;text-rendering:geometricPrecision;margin:0 auto;min-width: 380px;}
body>*:first-child{margin-top:0!important}
body>*:last-child{margin-bottom:0!important}
p,blockquote,ul,ol,dl,table,pre{margin: 10px 0;}h1,h2,h3,h4,h5,h6{font-weight: normal;-webkit-font-smoothing:antialiased}
h1 tt,h1 code,h2 tt,h2 code,h3 tt,h3 code,h4 tt,h4 code,h5 tt,h5 code,h6 tt,h6 code{font-size:inherit}
h1{font-size: 1.7em;color:#000}
h2{font-size: 1.5em;color:#111}
h3{font-size:1.2em;color:#222}
h4{font-size: 1.1em;color:#333}
body>h2:first-child,body>h1:first-child,body>h1:first-child+h2,body>h3:first-child,body>h4:first-child,body>h5:first-child,body>h6:first-child{margin-top:0;padding-top:0}
a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6{margin-top:0;padding-top:0}
a{color:#333;text-decoration:none}a:hover{color:#f77b83;text-decoration:none}
ul,ol{padding-left:30px}
ul li>:first-child,ol li>:first-child,ul li ul:first-of-type,ol li ol:first-of-type,ul li ol:first-of-type,ol li ul:first-of-type{margin-top:0}
li{word-wrap:break-word}
li p{margin:0}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0}dl{padding:0}
pre,code{font-size:.92857em;font-family:Consolas,"Liberation Mono",Courier,monospace;word-wrap:break-word}
code{color: #ff9800;margin:0;white-space:nowrap;border-radius:3px;word-break:break-all;background:#f8f8f8;word-wrap:break-word;border:1px solid #ccc}
pre{background-color: #EBECEE;font-size:13px;line-height:19px;overflow:auto;padding:1em;border-radius:3px;word-wrap:break-word;margin:.95em 0}
kbd{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#ddd;background-image:linear-gradient(#f1f1f1,#ddd);background-repeat:repeat-x;border-color:#ddd #ccc #ccc #ddd;border-image:none;border-radius:2px 2px 2px 2px;border-style:solid;border-width:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:10px;padding:1px 4px}
blockquote{border-left:4px solid #DDD;padding:0 15px;color:#777}
blockquote>:first-child{margin-top:0}blockquote>:last-child{margin-bottom:0}
hr{clear:both;margin:15px 0;height:0;overflow:hidden;border:0;background:transparent;border-bottom:2px solid #ddd;padding:0}
table{width:100%;overflow:auto;display:block;border-spacing:0;border-collapse:collapse}
table th{font-weight:bold}
table th,table td{border:1px solid #ddd;padding:6px 13px}
table tr{border-top:1px solid #ccc;background-color:#fff}
table tr:nth-child(2n){background-color:#f8f8f8}

/* ==========================================================================
   #Header
   ========================================================================== */

a{-webkit-transition:all .24s;transition:all .24s}
.left{float:left}
.right{float:right}
.cf:after,.cf:before{content:"";display:table}
.cf:after{clear:both}
.cf{zoom:1;}
.header{position:fixed;top:0;z-index:888;height:60px;box-shadow:0 0 3px rgba(0,0,0,0.1);border-bottom:1px solid #e1e2e3;width:100%;background-color:#fff}
.logo a{color:#5b6064;font-size:22px;line-height:60px;display:block;height:60px;border-right:1px solid #ddd;overflow:hidden;padding:0 30px 0 35px;letter-spacing:.2em;font-family:"Droid Serif",Georgia,"Times New Roman",STHeiti,serif}
.logo a:hover{color:#fff;background-color:#5b6064}
.header .slogan{display:inline-block;letter-spacing:.2em;position:relative;overflow:hidden;line-height:60px;padding-left:20px}
.buttons{float:right;line-height:0;padding:0 2% 0 0}
.button-hover,.button:hover,.button:focus{opacity:.8}
.button:focus{outline:0}
#search{position:fixed;z-index:499;top:60px;width:100%;height:0;transition:all .3s ease-out;-webkit-transform:translate3d(0,-120px,0);transform:translate3d(0,-120px,0)}
#search input{font-size:20px;width:100%;padding:0 2%;transition:all .3s ease-out;color: #5D5D5D;background:#faffbd;border:0;border-radius:0;outline-style:none}
.nav{position:fixed;z-index:499;top:60px;right:0;overflow:hidden;width:100%;height:0;transition:all .3s ease-out;-webkit-transform:translate3d(0,-120px,0);transform:translate3d(0,-120px,0);background:transparent}
.nav a{line-height:60px;display:inline-block;height:60px;padding:0 20px;cursor:pointer;color:#fff;font-size:15px}
.search-show #search{height:60px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.search-show #search input{height:60px}
.menu-show .nav{height:60px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);background:#f77b83}
#search-toggle,#menu-toggle{display:inline-block;overflow:hidden;color: #5b6064;float: left;}
#search-toggle .icon,#menu-toggle .icon{cursor:pointer;position:relative;border:0;float:right;outline:0;background:transparent;-webkit-transition:all .24s ease;transition:all .24s ease}
#search-toggle .icon:hover,#menu-toggle .icon:hover{color:#999}
#search-toggle .icon-search{line-height:60px;font-size: 24px;padding:0 8px}
#menu-toggle .icon-menu{line-height:60px;font-size: 24px;padding:0 8px}
.menu-show .header .buttons .icon-menu{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}

/* ==========================================================================
   #Index
   ========================================================================== */

.index-wrapper{margin:0 auto;width:100%;position:relative;}
.index-posts{width:940px;height:auto;margin:0px auto;position:relative;z-index:10;}
.index-post{float:left;clear:left;width:450px;height:auto;background:#fff;margin:0px 10px 20px 10px;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;-webkit-border-radius:3px;border-radius:3px;}
.index-post:nth-child(2n){float: right;clear: right;}
.index-post-header{padding:20px 20px 15px 20px;width:100%}
.index-post-avatar{width: 50px;height: 50px;font-size:50px;margin-right:12px}
.index-post-date{color:#999;text-decoration:none;font-size:.75em;line-height:1em;display:block;margin:4px 0 10px 0}
.index-post-title{font-weight:normal;color:#444;font-size:18px;line-height: 120%;display:inline;-webkit-transition:all .24s;transition:all .24s}
.index-post-content{display:block;padding: 0 20px 20px 20px;font-size:.85em;color:#888;line-height:150%;min-height:6.5em}
.index-post-thumb{height:auto}
.index-post-thumb .thumb{display:block;width:100%;background-position:center;background-repeat:no-repeat;background-size:cover;padding:0;margin:0}
.index-post-meta{border-top:1px dashed #ddd;padding:15px 20px 20px 15px;min-height:40px}
.index-post-button{cursor:pointer;outline:0}
.index-post-button a{float:left;font-size:.75em;color:#777;border:1px solid #d9d9d9;height:30px;line-height: 29px;padding:0 8px;outline:0;margin-right:10px;border-radius:3px}
.index-post-button a:hover{color:#f77b83;border-color:#f77b83;outline-style:none}
.index-post-button a:active{color:#f77b83;border-color:#f77b83;outline-style:none}
.index-post-category{height:30px;list-style:none;text-align:right;-webkit-transition:all .24s;transition:all .24s}
.index-post-category a{opacity:1;visibility:visible;text-align:center;display:block;float:right;font-size:.75em;color:#777;line-height:30px;vertical-align:middle;padding:0 8px 0 10px;max-width:100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;background-color:#efefef;-webkit-transition:opacity .24s,color .24s,background-color .24s;transition:opacity .24s,color .24s,background-color .24s}
.index-post-category a:hover{color:#fff;background:#5b6064}

/* ==========================================================================
   #Container & Post
   ========================================================================== */

.container{margin-top: 60px;padding: 3% 3% 0%;min-height: 200px;animation: fade-in;animation-duration: .5s;-webkit-animation: fade-in .5s}
.wrapper{position:relative;margin: 0 auto 3%;padding: 1% 4% 2%;max-width: 800px;width:100%;background-color:#fff;-webkit-box-shadow: 1px 2px 3px #ddd;      box-shadow: 1px 2px 3px #ddd;      -webkit-border-radius: 3px;      border-radius: 3px;}
.archive-title{color: #222;font-weight:400;font-size:.9rem;padding: 0 0 3% 0;text-align:center}
.archive-search-nothing{color:#999;font-weight:400;font-size:.9rem;text-align:center;position: absolute; left: 0; top: 0; right: 0; bottom: 0;      margin: auto;}
.post-title{font-size:1.4rem;margin:3% 0 0;display:block;text-align:center}
.post-title a{color:#333;display:inline;line-height:1.25;font-weight:normal;color:#464646}
.post-title a:hover{color:#55b559}.post-content a{color:#f59200}
.post-content a:hover{color:#55b559}.post-content a:active{color:#55b559}
.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{position:relative;font-weight: normal;margin:15px auto 10px;left:20px}
.post-content h1::before,.post-content h2::before,.post-content h3::before,.post-content h4::before,.post-content h5::before,.post-content h6::before{position:absolute;left:-20px;top:0;content:"#";color:#4caf50;font-weight:normal}
.post-content blockquote{position:relative;width:100%;margin:20px 0;padding:0 20px;border-left:4px solid #4caf50}
.post-content pre{display:block;box-sizing:border-box;font-family:"inconsolata","Consolas",monospace,sans-serif;width:100%;font-size:13px;background:#f8f8f8;overflow:auto;white-space: pre-wrap;word-wrap: break-word;}
.post-content pre code{color:#414141;margin:0;font-size:1em;padding:0px 0px;background:0;border:0;white-space:inherit}
.post-content pre figure{margin:0}
.post-content code{font-family:"inconsolata","Consolas",monospace,sans-serif;color: #ff9800;padding:1px 5px;margin:0 2px;border-radius:2px;white-space:inherit;font-size:.8em;background:#f8f8f8}
.post-content img{position:relative;display:block;max-width: 100%;overflow:hidden;-webkit-transition:all .24s ease;transition:all .24s ease;margin: 0 auto;}
.post-content .word{text-align:center}
.post-content .text{display:block;height:34px;margin:15px 0;padding:6px 12px;margin:0 auto 15px;background-color:#fff;border:1px solid #ccc;border-radius:4px}
.post-content .more{margin:0 0 1.5rem}
.post-content .more a{font-weight:700;margin:0;padding:0;color:#666;background:0}
.post-content .more a:hover{color:#f77b83;background:0}
.post-meta{color:#999;font-size:.75em;display:block;text-align:center;margin:10px 0 20px}
.post-copyright{color:#999;font-size:1em;display:block;margin:0 0 10px}
.post-tags a{position:relative;padding: 4px 10px 4px 10px;margin-right:5px;font-size:.75em;background:#ebecee;border-radius:2px;vertical-align:middle;line-height:1.9em;color:#414141}
.post-tags a:hover{color:#f08f00;background:rgba(255,152,0,0.1)}
.post-tags a::before{content: "# ";}
.archives-wrapper{margin:0}
.archives-outer{margin:0 auto;max-width:920px;width:100%;padding-bottom:1%}
.archives{-webkit-column-gap:15px;-moz-column-gap:15px;column-gap:15px}
@media screen and (min-width:480px) and (max-width:767px){.archives{-webkit-column-count:2;-moz-column-count:2;column-count:2}}
@media screen and (min-width:768px){.archives{-webkit-column-count:3;-moz-column-count:3;column-count:3}}
.archive-year{text-decoration:none;text-transform:uppercase;letter-spacing:2px;color:#999;margin-top: 0.5em;margin-bottom:1em;margin-left:5px;line-height:1em;text-shadow:0 1px #fff;font-weight:bold}
.archive-article{-webkit-column-break-inside:avoid;page-break-inside:avoid;overflow:hidden;break-inside:avoid-column}
.archive-article-inner{background:#fff;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;-webkit-border-radius:3px;border-radius:3px;padding:10px;margin-bottom:15px}
.archive-article-date{color:#999;text-decoration:none;font-size:.85em;line-height:1em;margin-bottom:.5em;display:block}
.archive-article-title{text-decoration:none;-webkit-transition:color .2s;-moz-transition:color .2s;-o-transition:color .2s;-ms-transition:color .2s;transition:color .2s;line-height:1.6em;font-weight:normal;color:#444}
.archive-article-title:hover{color:#e32d40}

/* ==========================================================================
   #comments
   ========================================================================== */

#comments{margin-top:15px}
#comments .page-navigator{margin:1rem 0 0}
#comments a{color:#aaa}
#comments a:hover{color:#f08f00}
.comment-list{padding-left:0;list-style-type:none;margin:0}
.avatar{display:block;float:left;width:40px;height:40px;margin:1.4rem 1rem 0 0;border-radius:50%}
.response{color:#999;font-weight:400;font-size:.9rem}
.comment-num{color:#999;font-weight:400;font-size:.9rem}
.comment-main{overflow:hidden;padding:1rem 0;border-bottom:1px dotted #e0e0e0}
.comment-main p{margin:0}
.comment-meta,.cancel-comment-reply{font-size:.8rem;margin-top:1rem;color:#aaa}
.comment-meta .comment-reply{float:right}
.comment-reply{float:right;display:none}
.comment-main:hover .comment-reply{display:block}
.comment-author{padding:.1rem .25rem;border-radius:.25rem;background:#eee;font-size:.7rem}
.comment-author:hover,.comment-author:hover a,.comment-author a:hover{color:#f08f00!important;background:rgba(255,152,0,0.1)}
.comment-time:before,.comment-reply a:before{margin:0 .5rem}
.comment-parent>.comment-children{margin-left:1rem;padding-left:40px}
.form-control{width:100%;height:34px;margin:15px 0;padding:6px 12px;background-color:#fff;border:1px solid #ccc;border-radius:4px}
.form-control,output{font-size:14px;line-height:1.42857;color:#555;display:block}
.form-control:focus{border-color:#f77b83;outline:0}
textarea.form-control{width:100%;height:10rem;resize:none}
.submit{border:1px solid #ccc;line-height:36px;text-align:center;height:36px;padding:0 25px;margin:0 auto;display:block;border-radius:4px;-webkit-transition-duration:400ms;transition-duration:400ms;background-color:#fff;color:#999}
.submit:hover,.submit:focus,.submit:active,.submit:active:focus{color:#f77b83;border-color:#f77b83;outline-style:none}

/* ==========================================================================
   #navigator
   ========================================================================== */

.index-pagenav{max-width:924px;height:auto;margin:15px auto;position:relative;z-index:10;padding: 0 0 20px 0;}
.page-nav{font-size: .85em;font-weight:normal;color:#a7a7a7;border-radius:2px}
.page-prev a,.page-next a{background-color:#fff;color:#777;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;padding: 8px 10px;-webkit-border-radius:3px;border-radius:3px}
.page-prev a:hover,.page-next a:hover{color:white;background:#5b6064}
.pagenav{margin:0;text-align:center}
.page-navigator{margin:0;padding:0;list-style-type:none;color:#aaa;text-align:center}
.page-navigator li{display:inline-block;float:none;margin:.4rem;}
.page-navigator a{color:#a7a7a7;line-height:2rem;display:block;width:2rem;height:2rem}
.page-navigator .current{border-radius:50%;background-color:#fff;background:#fff;-webkit-box-shadow:1px 2px 3px #ddd;box-shadow:1px 2px 3px #ddd;}
.browsehappy{bottom:0;top:0;width:100%;height:40px;z-index:999;position:fixed;background:#fbe3e4;color:#8a1f11;text-align:center;padding:10px}
.browsehappy a{color:#8a1f11;text-decoration:underline;font-weight:700}

/* ==========================================================================
   #footer
   ========================================================================== */

#footer{background:#fff;color:#929292;padding:20px 0;text-align:center;font-size:13px;line-height:2.5em;text-shadow:none}
#footer a{color:#929292}
#footer a:hover{color:#f77b83}
#footer .social-wrapper{padding-top:20px}
#footer a:hover{background:rgba(255,152,0,0.1);color:#f08f00}
#footer a.social{position:relative;display:inline-block;text-align:center;font-size:18px;margin:0px 3px}
#footer a.social:hover{background:transparent;color:#ff9800}
#footer a.social.github:hover{color: #333}
#footer a.social.email:hover{color: #3427DE}
#footer a.social.twitter:hover{color:#55acee}
#footer a.social.weibo:hover{color: #F82A2A}
#footer a.social.google-plus:hover{color: #55b559}
#footer .codename{color: #ff9800}
@media(max-width:699px){.nav{width:auto}.nav a{display:block}.menu-show .nav{height:auto}.links ul li{width:45%}.adlink{display:none}.wrapper{padding:1% 4% 3%;margin:0 auto 4%}.pagenav{margin:-1rem 0 0!important}}
@media(max-width:470px){.description{display:none}.index-post-avatar{display:none}.post-meta{margin:0 0 10px}}
@media(max-width:350px){.index-post-comments{display:none}}
@media(max-width:1020px){.index-posts{width:780px}.index-post{width:370px}.index-pagenav{max-width:760px}}
@media(max-width:840px){.index-posts{width:100%}.index-post{width:100%;margin: 0px 0px 15px;}.index-post:nth-child(2n){float:none;clear:left;margin:10px 0px 10px}.index-pagenav{max-width:100%;padding:0 0 10px 0}.archive-title{padding: 0 0 10px;}}
@keyframes fade-in{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0px)}}
@-webkit-keyframes fade-in{0%{opacity:0;-webkit-transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0px)}}