@charset "UTF-8";

/* ==========================================================================
   #Markdown
   ========================================================================== */

*{margin:0;padding:0;border:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:grayscale}
html{overflow-x:hidden}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
::selection{background-color:rgba(255,183,77,0.7);color:#414141}
button,input,select,textarea{resize:none;font-family:"futura-pt",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",Microsoft JhengHei,WenQuanYi Micro Hei,"Microsoft YaHei",sans-serif}
body{font-family:"futura-pt",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",Microsoft JhengHei,WenQuanYi Micro Hei,"Microsoft YaHei",sans-serif;font-size:14px;line-height:1.6;color:#333;background-color:#eee;text-rendering:geometricPrecision;margin:0 auto}
body>*:first-child{margin-top:0!important}
body>*:last-child{margin-bottom:0!important}
p,blockquote,ul,ol,dl,table,pre{margin:15px 0}h1,h2,h3,h4,h5,h6{font-weight:bold;-webkit-font-smoothing:antialiased}
h1 tt,h1 code,h2 tt,h2 code,h3 tt,h3 code,h4 tt,h4 code,h5 tt,h5 code,h6 tt,h6 code{font-size:inherit}
h1{font-size:2em;color:#000}
h2{font-size:1.6em;color:#111}
h3{font-size:1.2em;color:#222}
h4{font-size:1em;color:#333}
body>h2:first-child,body>h1:first-child,body>h1:first-child+h2,body>h3:first-child,body>h4:first-child,body>h5:first-child,body>h6:first-child{margin-top:0;padding-top:0}
a:first-child h1,a:first-child h2,a:first-child h3,a:first-child h4,a:first-child h5,a:first-child h6{margin-top:0;padding-top:0}
h1+p,h2+p,h3+p,h4+p,h5+p,h6+p{margin-top:10px}
a{color:#333;text-decoration:none}a:hover{color:#f77b83;text-decoration:none}
ul,ol{padding-left:30px}
ul li>:first-child,ol li>:first-child,ul li ul:first-of-type,ol li ol:first-of-type,ul li ol:first-of-type,ol li ul:first-of-type{margin-top:0}
li{word-wrap:break-word}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0}dl{padding:0}
dl dt{font-size:14px;font-weight:bold;font-style:italic;padding:0;margin:15px 0 5px}
dl dt:first-child{padding:0}
dl dt>:first-child{margin-top:0}dl dt>:last-child{margin-bottom:0}
dl dd{margin:0 0 15px;padding:0 15px}
dl dd>:first-child{margin-top:0}
dl dd>:last-child{margin-bottom:0}
pre,code,tt{font-size:.92857em;font-family:Consolas,"Liberation Mono",Courier,monospace;word-wrap:break-word}
code,tt{margin:0;white-space:nowrap;border-radius:3px;word-break:break-all;background:#f8f8f8;padding:0 .3em;word-wrap:break-word;border:1px solid #ccc}
pre>code{color:black;text-shadow:0 1px white;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;direction:ltr;text-align:left;white-space:pre;word-spacing:normal;word-wrap:break-word;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
pre{background-color:#f8f8f8;font-size:13px;line-height:19px;overflow:auto;padding:1em;border-radius:3px;word-wrap:break-word;margin:.95em 0}
pre code,pre tt{background-color:transparent;border:0;word-wrap:break-word}
kbd{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background-color:#ddd;background-image:linear-gradient(#f1f1f1,#ddd);background-repeat:repeat-x;border-color:#ddd #ccc #ccc #ddd;border-image:none;border-radius:2px 2px 2px 2px;border-style:solid;border-width:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:10px;padding:1px 4px}
blockquote{border-left:4px solid #DDD;padding:0 15px;color:#777}
blockquote>:first-child{margin-top:0}blockquote>:last-child{margin-bottom:0}
hr{clear:both;margin:15px 0;height:0;overflow:hidden;border:0;background:transparent;border-bottom:2px solid #ddd;padding:0}
table{width:100%;overflow:auto;display:block;border-spacing:0;border-collapse:collapse}
table th{font-weight:bold}
table th,table td{border:1px solid #ddd;padding:6px 13px;width:.1%}
table tr{border-top:1px solid #ccc;background-color:#fff}
table tr:nth-child(2n){background-color:#f8f8f8}

/* ==========================================================================
   #Header
   ========================================================================== */
a {
    -webkit-transition: all 0.24s;
    transition: all 0.24s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.header {
    position: fixed;
    top: 0;
    z-index: 888;
    height: 60px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e1e2e3;
    width: 100%;
    background-color: #fff;
}

.logo a {
    color: #5b6064;
    font-size: 18px;
    line-height: 60px;
    display: block;
    height: 60px;
    border-right: 1px solid #ddd;
    overflow: hidden;
    padding: 0 30px 0 35px;
    letter-spacing: .2em;
}

.logo a:hover {
    color: #fff;
    background-color:#5b6064;
}

.header .slogan {
    display: inline-block;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
    line-height: 60px;
    padding-left: 20px;
}

.buttons {
    float: right;
    padding: 0 2% 0 0;
}

.button-hover, .button:hover, .button:focus {
    opacity: .8;
}

.button:focus {
    outline: 0;
}

#search-toggle, #menu-toggle {
    display: inline-block;
    overflow: hidden;
}

#search {
    position: fixed;
    z-index: 499;
    top: 60px;
    width: 100%;
    height: 0;
    transition: all .3s ease-out;
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
}

#search input {
    font-size: 20px;
    width: 100%;
    padding: 0 2%;
    height: 0;
    transition: all .3s ease-out;
    color: #777;
    background: rgb(250, 255, 189);
    border: 0;
    border-radius: 0;
    outline-style: none;
}

.nav {
    position: fixed;
    z-index: 499;
    top: 60px;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .3s ease-out;
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
    background: transparent;
}

.nav a {
    line-height: 60px;
    display: inline-block;
    height: 60px;
    padding: 0 20px;
    cursor: pointer;
    color: #fff;
}

.search-show #search {
    height: 60px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.search-show #search input {
    height: 60px;
}

.menu-show .nav {
    height: 60px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #F77B83;
}

.icon-search {
    width: 50px;
    height: 60px;
    background: url(images/search.png) center center no-repeat;
    background-size: 21px 21px;
    cursor: pointer;
    display: inline-block;
    line-height: 59px;
}

.icon-nav {
    width: 50px;
    height: 60px;
    background: url(images/nav.png) center center no-repeat;
    background-size: 21px 21px;
    cursor: pointer;
    display: inline-block;
    line-height: 59px;
}

/* ==========================================================================
   #Index
   ========================================================================== */

.cf {
    zoom: 1;
}

.cf:before, .cf:after {
    content: "";
    display: table;
}

.index-wrapper {
    margin: 0px auto;
    max-width: 920px;
    width: 100%;
}

.index-posts {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
}

@media screen and (min-width:700px) {
    .index-posts {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

.index-post {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    break-inside: avoid-column;
}

.index-post-inner {
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px
}

.index-post-header {
    padding: 20px 20px 15px 20px;
    width: 100%;
}

.index-post-date {
    color: #999;
    text-decoration: none;
    font-size: .75em;
    line-height: 1em;
    display: block;
    margin: 4px 0px 10px 0px;
}

.index-post-title {
    font-weight: normal;
    color: #444;
    font-size: 18px;
    line-height: 130%;
    display: inline;
    -webkit-transition: all 0.24s;
    transition: all 0.24s;
}

.index-post-content {
    display: block;
    padding: 0px 20px 25px 20px;
    font-size: .85em;
    color: #888;
    line-height: 150%;
}

.index-post-thumb {
    height: auto;
}

.index-post-thumb .thumb {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(38, 42, 53 ,1);
    padding: 0;
    margin: 0;
}

.index-post-meta {
    border-top: 1px dashed #ddd;
    padding: 15px 20px 20px 15px;
    min-height: 40px;
}

.index-post-button {
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

.index-post-button a {
    float: left;
    font-size: 0.75em;
    color: #777;
    border: 1px solid #d9d9d9;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    padding: 0px 8px;
    outline: none;
    width: auto;
    margin-right: 10px;
    border-radius: 3px;
}

.index-post-button a:hover {
    color: #F77B83;
    border-color: #F77B83;
    outline-style: none;
}

.index-post-button a:active {
    color: #F77B83;
    border-color: #F77B83;
    outline-style: none;
}

.index-post-category {
    height: 30px;
    overflow: hidden;
    list-style: none;
    text-align: right;
    -webkit-transition: all 0.24s;
    transition: all 0.24s;
}

.index-post-category a {
    opacity: 1;
    visibility: visible;
    text-align: center;
    display: block;
    float: right;
    font-size: 0.75em;
    color: #777;
    line-height: 30px;
    vertical-align: middle;
    padding: 0px 8px 0px 10px;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #efefef;
    -webkit-transition: opacity 0.24s, color 0.24s, background-color 0.24s;
    transition: opacity 0.24s, color 0.24s, background-color 0.24s;
}

.index-post-category a:hover {
    color: #fff;
    background: #38485a;
}


/* ==========================================================================
   #Container & Post
   ========================================================================== */

.container {
    margin-top: 80px;
    padding: 2% 3% 1%;
}

.wrapper {
    position: relative;
    max-width: 760px;
    margin: 0px auto 20px;
    padding: 1% 4% 2%;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.main {}

.archive-title {
    color: #55b559;
    font-weight: 400;
    font-size: .9rem;
    padding: 3% 0 0;
    text-align: center;
}

.archive-search-nothing {
    color: #999;
    font-weight: 400;
    font-size: .9rem;
    padding: 4% 0 0;
    text-align: center;
}

.post-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 3% 0 0;
    display: block;
    text-align: center;
}

.post-title a {
    color: #333;
    display: inline;
    line-height: 1.25;
    font-weight: normal;
    color: #464646;
}

.post-title a:hover {
    color: #55b559;
}

.post-content a {
    margin: 0 .25rem;
    color: #f59200;
}

.post-content a:hover {
    color: #f08f00;
    background: rgba(255, 152, 0, 0.1)
}

.post-content a:active {
    background: rgba(255, 152, 0, 0.2);
    color: #fff
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    position: relative;
    font-weight: bold;
    margin: 15px auto 10px;
    left: 20px;
}

.post-content h1::before, .post-content h2::before, .post-content h3::before, .post-content h4::before, .post-content h5::before, .post-content h6::before {
    position: absolute;
    left: -20px;
    top: 0px;
    content: "#";
    color: #4caf50;
    font-weight: normal;
}

.post-content img {
    position: relative;
    display: block;
    width: 124%;
    margin: 0 -12%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    padding: 5px;
    background: white;
    -webkit-transition: all 0.24s ease;
    transition: all 0.24s ease;
}

.more {
    margin: 0 0 1.5rem;
}

.more a {
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #666;
    background: none;
}

.more a:hover {
    color: #F77B83;
    background: none;
}

.post-meta {
    color: #999;
    font-size: 0.75em;
    display: block;
    text-align: center;
    margin: 10px 0 20px;
}

.post-category:after {
    margin: 0 .8rem;
}

.post-category a {
    padding: .1rem .25rem;
    color: #aaa;
    border-radius: .25rem;
    background: #eee;
    font-size: .7rem;
}

.post-category a:hover {
    color: #fff;
    background: #ccc;
}

.post-page {
    padding: 2rem 0;
}

.post-page a {
    color: #666;
}

.post-page a:hover {
    color: #999;
}

.post-tags a {
    position: relative;
    padding: 4px 10px 4px 15px;
    margin-right: 5px;
    font-size: 0.75em;
    background: #EBECEE;
    border-radius: 2px;
    vertical-align: middle;
    line-height: 1.9em;
    color: #414141;
}

.post-tags a::before {
    position: absolute;
    top: 0;
    left: 7px;
    content: "#";
}

.archives-wrapper {
    margin: 0;
}

.archives-outer {
    margin: 0 auto;
    max-width: 920px;
    width: 100%;
}

.archives {
    zoom: 1
}

.archives:before, .archives:after {
    content: "";
    display: table
}

.archives:after {
    clear: both
}

.archives {
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px
}

@media screen and (min-width:480px) and (max-width:767px) {
    .archives {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

@media screen and (min-width:768px) {
    .archives {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}

.archive-year {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 1em;
    margin-left: 5px;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    font-weight: bold;
}

.archive-article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    overflow: hidden;
    break-inside: avoid-column
}

.archive-article-inner {
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px
}

.archive-article-date {
    color: #999;
    text-decoration: none;
    font-size: .85em;
    line-height: 1em;
    margin-bottom: .5em;
    display: block
}

.archive-article-title {
    text-decoration: none;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s;
    line-height: 1.6em;
    font-weight: normal;
    color: #444;
}

.archive-article-title:hover {
    color: #e32d40
}


/* ==========================================================================
   #comments
   ========================================================================== */

#comments {
    margin-top: 15px;
}

#comments .page-navigator {
    margin: 1rem 0 0;
}

#comments a {
    color: #aaa;
}

#comments a:hover {
    color: #f08f00;
}

.comment-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 1.4rem 1rem 0 0;
    border-radius: 50%;
}

.response {
    color: #999;
    font-weight: 400;
    font-size: .9rem;
}

.comment-num {
    color: #999;
    font-weight: 400;
    font-size: .9rem;
}

.comment-main {
    overflow: hidden;
    padding: 1rem 0;
    border-bottom: 1px dotted #e0e0e0;
}

.comment-main p {
    margin: 0;
}

.comment-meta, .cancel-comment-reply {
    font-size: .8rem;
    margin-top: 1rem;
    color: #aaa;
}

.comment-author {
    padding: .1rem .25rem;
    border-radius: .25rem;
    background: #eee;
    font-size: .7rem;
}

.comment-author:hover, .comment-author:hover a, .comment-author a:hover {
    color: #f08f00 !important;
    background: rgba(255, 152, 0, 0.1)
}

.comment-time:before, .comment-reply a:before {
    margin: 0 .5rem;
}

.comment-parent > .comment-children {
    margin-left: 1rem;
    padding-left: 40px;
}

.form-control {
    width: 100%;
    height: 34px;
    margin: 15px 0;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}

.form-control:focus {
    border-color: #F77B83;
    outline: 0;
}

textarea.form-control {
    width: 100%;
    height: 10rem;
    resize: none;
}

.submit {
    border: 1px solid #ccc;
    line-height: 36px;
    text-align: center;
    height: 36px;
    padding: 0 25px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background-color: #fff;
    color: #999;
}

.submit:hover, .submit:focus, .submit:active, .submit:active:focus {
    color: #F77B83;
    border-color: #F77B83;
    outline-style: none;
}


/* ==========================================================================
   #page nav & comments nav
   ========================================================================== */

.pagenav {
    margin: 0;
    text-align: center;
}

.page-navigator {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #aaa;
    text-align: center;
}

.page-navigator li {
    display: inline-block;
    float: none;
    margin: .4rem;
}

.page-navigator a {
    color: #a7a7a7;
    line-height: 2rem;
    display: block;
    width: 2rem;
    height: 2rem;
}

.page-navigator .current {
    border-radius: 50%;
    background-color: #fff;
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
}

.browsehappy {
    bottom: 0;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    position: fixed;
    background: #FBE3E4;
    color: #8A1F11;
    text-align: center;
    padding: 10px;
}

.browsehappy a {
    color: #8A1F11;
    text-decoration: underline;
    font-weight: 700;
}


/* ==========================================================================
   #footer
   ========================================================================== */

#footer {
    background: #FFFFFF;
    color: #aaa;
    text-shadow: 0 1px 1px #eee;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    line-height: 3.0em;
    text-shadow: none;
}

#footer a {
    color: #aaa;
}

#footer a:hover {
    color: #F77B83;
}

.links-wrapper {
    max-width: 820px;
    width: 96%;
}

#footer ul li {
    display: inline-block;
    margin: 0 10px 0 0;
}

#footer ul {
    margin: 0 auto 10px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0 0 10px 0;
}

@media(max-width:880px) {
    .post-content img {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }
}

@media(max-width:699px) {
    .nav {
        width: auto;
    }
    .nav a {
        display: block;
    }
    .menu-show .nav {
        height: auto;
    }
    .links ul li {
        width: 45%;
    }
    .adlink {
        display: none;
    }
    .wrapper {
        padding: 1% 4% 3%;
    }
    .pagenav {
        margin: -1rem 0 0!important;
    }
}

@media(max-width:470px) {
    .description {
        display: none;
    }
    .post-meta {
        margin: 10px 0 5px;
    }
}

@media(max-width:350px) {
    .index-post-comments {
        display: none;
    }
}